
# Security & System
# NODE_ENV=development
NODE_ENV=production
PORT=8081
# JWT_SECRET=bma_digital_project_super_secret_jwt_key_2026_secure
# เปลี่ยน Secret Key ใหม่ให้ซับซ้อนขึ้น และห้ามใช้ซ้ำกับตอน Dev
JWT_SECRET=felmdgmsd573_4jtms5dve5_sf3Kq13gfFDfg434242flmRDSr



# URL ของ Frontend จริงที่จะใช้อนุญาต CORS และใส่ลงในลิงก์อีเมล กลับเข้ามาและชี้ไปที่โดเมนจริง
PUBLIC_API_URL=https://digitalproject.bangkok.go.th/api/v1
FRONTEND_URL=https://digitalproject.bangkok.go.th


# เพิ่ม IP เข้าไปใน CORS เพื่อให้เครื่อง Client เรียก API ได้
# CORS_ORIGINS=http://localhost:3000,http://localhost:8080
# CORS_ORIGINS=http://localhost:3000,http://localhost:8080,http://172.31.90.79:3000
# ตั้งค่า CORS ให้อนุญาตเฉพาะโดเมนของ Frontend เราเท่านั้น (ห้ามใช้ *)
# CORS_ORIGINS=https://digitalproject.bangkok.go.th
CORS_ORIGINS=https://digitalproject.bangkok.go.th


# เปลี่ยน FRONTEND_URL เป็น IP เครื่องเซิร์ฟเวอร์
# FRONTEND_URL=http://localhost:3000
# FRONTEND_URL=http://172.31.90.79:3000
# FRONTEND_URL=https://digitalproject.bangkok.go.th


# Database Configuration
DATABASE_URL=postgresql://bma_app:MY_STRONG_BMA_DIGITAL_PROJECT_DB_PASSWORD_2026@172.27.168.249:5432/bma_db


# File Storage
# UPLOAD_STORAGE_DIR=uploads
UPLOAD_STORAGE_DIR=/app/uploads
MAX_UPLOAD_SIZE=26214400

# Cookies & Security Settings
TRUST_PROXY=false
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
COOKIE_DOMAIN=

# -------------------------------------------------------------
# Email Configuration (Production SMTP - BMA Mail)
# -------------------------------------------------------------
SMTP_HOST=mail.bangkok.go.th
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=digitalproject@bangkok.go.th
SMTP_PASS=SnBs*0324
# SMTP_USER=bmadd.rdi@bangkok.go.th
# SMTP_PASS=B@ngkok2025

SMTP_FROM_NAME="BMA Digital Project"
SMTP_FROM_EMAIL="noreply@bangkok.go.th"
